@import '../assets/font/junction.css';
@import url('https://fonts.googleapis.com/css?family=Satisfy');

* { margin: 0; padding: 0 }

img {
	pointer-events: none;
}

html, body {
	background: rgb(20, 20, 20);
	color: white;
	font-family: 'Junction', serif;
	overflow: hidden;
	text-rendering: geometricPrecision;
	text-shadow: 0 1px 7px rgb(20, 20, 20);
}

.background {
	background: rgb(240, 240, 240);
	height: 100vh;
	width: 50vw;
}

.container {
	align-items: center;
	flex-direction: column;
	display: flex;
	height: 100vh;
	left: 0;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100vw;
}

.container__nome {
	font-size: 300%;
	letter-spacing: 20px;
	text-transform: uppercase;
}

.container__nome, .container__desc {
	margin: 5px 0;
	mix-blend-mode: difference;
}

.container__desc {
	font-size: 160%;
	font-family: 'Satisfy', cursive;
	text-transform: lowercase;
}