<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Air Strafe Training</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@next"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

    * {
      margin: 0;
      padding: 0;
    }

    .app {
      width: 100vw;
      height: 100vh;
      overflow: hidden;
    }

    .background {
      width: 100%;
      height: 100%;
      font-family: 'Montserrat', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 90px;
      text-transform: uppercase;
      user-select: none;
      pointer-events: none;
    }
  </style>
</head>
<body>
  <div class="app">
    <div class="background" :style="isRight">
      <p style="margin-bottom: 40px;">{{ keypressed }}</p>
      <p>{{ direction }}</p>
    </div>
  </div>

  <script>
    let lastPageX = 0

    const data = {
      direction: 'direita',
      keypressed: 'A'
    }
    
    const computed = {
      isRight() {
        let color = '#e84848'

        if (this.keypressed === 'D' && this.direction === 'direita') 
          color = '#63cf5d'

        else if (this.keypressed === 'A' && this.direction === 'esquerda')
          color = '#63cf5d'

        return { backgroundColor: color, transition: color === '#e84848' ? '0.8s' : '0.2s' }
      }
    }

    const methods = {
      pressed({ code }) {
        switch (code) {
          case 'KeyA':
            this.keypressed = 'A'
            break
          case 'KeyD':
            this.keypressed = 'D'
            break
        }
      },

      mousemove({ pageX }) {
        let dir = ''

        if (pageX > lastPageX) {
          dir = 'direita'
        }

        else if (pageX < lastPageX) {
          dir = 'esquerda'
        }
        
        if (dir !== '') {
          this.direction = dir
        }

        lastPageX = pageX
      }
    }

    const app = Vue.createApp({
      methods, computed,
      data: () => data,
      created() {
        window.addEventListener('keypress', event => this.pressed(event))
        window.addEventListener('mousemove', event => this.mousemove(event))
      }
    })

    app.mount('.app')
  </script>
</body>
</html>
