<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Steamhex</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@515&display=swap" rel="stylesheet">
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Quicksand';
      background-color: black;
      background-image: url(./bg.png);
      background-size: cover;
    }

    h1 {
      text-transform: uppercase;
    }

    #app {
      width: 500px;
      height: 600px;
      background-color: white;
      bottom: 0;
      padding: 15px;
      position: absolute;
      left: 160px;
    }

    #app > p {
      margin: 20px 0;
      margin-top: 40px;
    }

    #app > span {
      display: block;
      margin-top: 10px;
      color: rgb(201, 53, 53);
    }

    #app > span.hex {
      color: rgb(64, 131, 64);
    }

    input {
      border: none;
      padding: 10px;
      outline: none;
      margin-right: -4px;
      transition: .5s;
      background-color: #f0f0f0;
      width: 220px;
    }

    input:focus {
      background-color: rgb(220, 220, 220);
    }

    button {
      color: white;
      border: none;
      background: black;
      padding: 10px;
      min-width: 150px;
      text-transform: uppercase;
    }

    .footer {
      color: gray;
      font-size: 11px;
      position: absolute;
      bottom: 10px;
    }

    .copyleft {
      display: inline-block;
      transform: scaleX(-1);
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>Obter a steamhex de uma conta steam</h1>

    <span v-if="!available">Infelizmente precisamos de recursos novos que seu navegador não possui 😢</span>

    <!-- ID64 -->
    <template v-if="available">
      <p>Obtenha a partir de um id (se tu é um espertinho e ja sabe o seu tu ja facilita minha vida 🤗).</p>
      <input type="text" placeholder="Exemplo: 76561198261514344" v-model="id64" @keyup.enter="id64Hex">
      <button @click="id64Hex">Obter</button>

      <span v-if="validId64" class="hex">{{ hexfrom64 }}</span>
      <span v-else-if="id64.length">Insira um id válido, to com cara de advinho? 😠 </span>
    </template>
    
    <!-- USERNAME -->
    <template v-if="available">
      <p>Obtenha a partir de um nome de usuário (se tu não é um espertinho não tem problema, eu procuro pra você 😊).</p>
      <input type="text" placeholder="Exemplo: wesleiramos2" v-model="username" @keyup.enter="usernameHex">
      
      <button @click="usernameHex" :disabled="obtaining">
        {{ obtaining ? 'Obtendo aguarde...' : 'Obter' }}
      </button>
      
      <span v-if="usernameError === 0 && hexfromusername.length" class="hex">
        {{ hexfromusername }}
      </span>
      <span v-else-if="usernameError === 1">
        Insira um username né carai 😠
      </span>
      <span v-else-if="usernameError === 2">
        Username não encontrado 😭
      </span>
    </template>

    <div class="footer">
      <p>Feito por mim Weslei (obvio né, ta no meu site 🤪🤪).</p>
      <p><span class="copyleft">&copy;</span> 2077 | Nenhum direito resevado.</p>
    </div>
  </div>

  <script>
    const app = new Vue({
      el: '#app',
      
      data: () => ({
        available: true,
        id64: '',
        username: '',
        hexfrom64: '',
        hexfromusername: '',
        usernameError: 0,
        obtaining: false,
      }),

      created() {
        this.available = 'BigInt' in window
      },

      computed: {
        /**
         * @return {Boolean}
         */
        validId64() {
          return /^\d{17}$/.test(this.id64)
        },

        /**
         * @return {Boolean}
         */
        validUsername() {
          return this.username.length
        }
      },

      methods: {
        /**
         * Converte o id64 para hexadecimal caso seja valido
         */
        id64Hex() {
          if (!this.validId64)
            return

          this.hexfrom64 = BigInt(this.id64).toString(16)
        },

        /**
         * Obtém o id64 do username fornecido e o converte pra hexadecimal
         */
        async usernameHex() {
          this.hexfromusername = ''
          this.usernameError = 0

          if (!this.validUsername)
            return void(this.usernameError = 1)

          this.obtaining = true

          try {
            const result = await fetch(`https://wesleiramos.000webhostapp.com/steamhex.php?vanity=${this.username}`)
            const { response } = await result.json()

            // O erro não importa tanto
            if (response.success !== 1)
              throw 'Lança erro e fodase'

            this.hexfromusername = BigInt(response.steamid).toString(16)
          } catch (e) {
            console.log(e)
            this.usernameError = 2
          }

          this.obtaining = false
        }
      }
    })
  </script>
</body>
</html>