@keyframes marqueetop {
  0% { transform: translate(-100%, 0); }
  50% { transform: translate(100%, 0); }
  100% { transition: translate(-100%, 0); }
}

@keyframes marqueebottom {
  0% { transform: translate(100%, 0); }
  50% { transform: translate(-100%, 0); }
  100% { transition: translate(100%, 0); }
}

@keyframes marquelateral {
  0% { transform: translate(0, -100%); }
  50% { transform: translate(0, 100%); }
  100% { transition: translate(0, -100%); }
}

.top span {
  animation: marqueetop 15s linear infinite;
}

.bot span {
  animation: marqueebottom 20s linear infinite;
}

.esq span {
  animation: marquelateral 13s linear infinite;
}

.dir span {
  animation: marquelateral 18s linear infinite;
}