@import url('animation.css');

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: white;
}

.wrap {
  background-color: white;
  display: grid;
  grid-template-areas: "top top top dir"
                       "esq mid mid dir"
                       "esq bot bot bot";

  grid-template-rows: auto calc(100vh - 120px) auto;
  grid-template-columns: 80px auto auto 80px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Open Sans;
  font-weight: bold;
}

.wrap > div {
  background-color: white;
  font-size: 23px;
  overflow: hidden;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  user-select: none;
}

.top {
  grid-area: top;
}

.bot {
  grid-area: bot;
}

.dir {
  grid-area: dir;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotateY(180deg) rotateX(180deg);
}

.esq {
  grid-area: esq;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.top span, .bot span { margin-left: 80px; }
.esq span, .dir span { margin-bottom: 80px; }

.mid { grid-area: mid; }

.mid > div {
  flex: 1 1 auto;
  height: 100%;
}

.mid .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-width: 65%;
  /*background-color: red;*/
}

.mid .logo .image {
  /*flex-shrink: 0;*/
  height: max-content;
  /*background-color: blue;*/
}

.mid .logo .image img {
  width: 100%;
  pointer-events: none;
  user-select: none;
}

.mid .download {
  align-items: flex-start;
  box-sizing: border-box;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}


.mid .download > span:first-child {
  margin-left: 10px;
}

.mid .download .newblack {
  background-color: black;
  padding: 2px 5px;
  overflow: visible;
  width: 100px;
}

.mid .download .newblack span {
  color: white;
  width: 150px; 
  mix-blend-mode: difference;
}

.mid .download button {
  border: none;
  color: black;
  font-size: 20px;
  background-color: rgb(230, 230, 230);
  padding: 15px 10px;
  margin-top: 20px;
  outline: none;
  text-transform: uppercase;
  width: 180px;
}

.mid .download button:active {
  mix-blend-mode: difference;
}