:root {
  --animvel: 0.1s;
  --jump1: -50px;
  --jump2: -50px;
  --jump3: -50px;
  --jump4: -50px;
  --jump5: -50px;
  --jump6: -50px;
  --jump7: -50px;
  --jump8: -50px;
  --jump9: -50px;
  --jump10: -50px;
  --jump11: -50px;
  --jump12: -50px;
  --jump13: -50px;
  --jump14: -50px;
  --jump15: -50px;
  --jump16: 0px;
  --jump17: 0px;
  --jump18: 0px;
  --jump19: 0px;
  --jump20: 0px;
  --jump21: 0px;
  --jump22: 0px;
  --jump23: 0px;
  --jump24: 0px;
  --jump25: 0px;
  --jump26: 0px;
  --jump27: 0px;
  --jump28: 0px;
  --jump29: 0px;
  --jump30: 0px;
  --jump31: 50px;
  --jump32: 50px;
  --jump33: 50px;
  --jump34: 50px;
  --jump35: 50px;
  --jump36: 50px;
  --jump37: 50px;
  --jump38: 50px;
  --jump39: 50px;
  --jump40: 50px;
  --jump41: 50px;
  --jump42: 50px;
  --jump43: 50px;
  --jump44: 50px;
  --jump45: 50px;
  --jump46: 100px;
  --jump47: 100px;
  --jump48: 100px;
  --jump49: 100px;
  --jump50: 100px;
  --jump51: 100px;
  --jump52: 100px;
  --jump53: 100px;
  --jump54: 100px;
  --jump55: 100px;
  --jump56: 100px;
  --jump57: 100px;
  --jump58: 100px;
  --jump59: 100px;
  --jump60: 100px;
  --jump61: 150px;
  --jump62: 150px;
  --jump63: 150px;
  --jump64: 150px;
  --jump65: 150px;
  --jump66: 150px;
  --jump67: 150px;
  --jump68: 150px;
  --jump69: 150px;
  --jump70: 150px;
  --jump71: 150px;
  --jump72: 150px;
  --jump73: 150px;
  --jump74: 150px;
  --jump75: 150px;
  --jump76: 200px;
  --jump77: 200px;
  --jump78: 200px;
  --jump79: 200px;
  --jump80: 200px;
  --jump81: 200px;
  --jump82: 200px;
  --jump83: 200px;
  --jump84: 200px;
  --jump85: 200px;
  --jump86: 200px;
  --jump87: 200px;
  --jump88: 200px;
  --jump89: 200px;
  --jump90: 200px;
  --jump91: 250px;
  --jump92: 250px;
  --jump93: 250px;
  --jump94: 250px;
  --jump95: 250px;
  --jump96: 250px;
  --jump97: 250px;
  --jump98: 250px;
  --jump99: 250px;
  --jump100: 250px;
  --jump101: 250px;
  --jump102: 250px;
  --jump103: 250px;
  --jump104: 250px;
  --jump105: 250px;
}

.peep-fileira1 {
  bottom: var(--jump1);
}

.peep-fileira2 {
  bottom: var(--jump2);
}

.peep-fileira3 {
  bottom: var(--jump3);
}

.peep-fileira4 {
  bottom: var(--jump4);
}

.peep-fileira5 {
  bottom: var(--jump5);
}

.peep-fileira6 {
  bottom: var(--jump6);
}

.peep-fileira7 {
  bottom: var(--jump7);
}

.peep-fileira8 {
  bottom: var(--jump8);
}

.peep-fileira9 {
  bottom: var(--jump9);
}

.peep-fileira10 {
  bottom: var(--jump10);
}

.peep-fileira11 {
  bottom: var(--jump11);
}

.peep-fileira12 {
  bottom: var(--jump12);
}

.peep-fileira13 {
  bottom: var(--jump13);
}

.peep-fileira14 {
  bottom: var(--jump14);
}

.peep-fileira15 {
  bottom: var(--jump15);
}

.peep-fileira16 {
  bottom: var(--jump16);
}

.peep-fileira17 {
  bottom: var(--jump17);
}

.peep-fileira18 {
  bottom: var(--jump18);
}

.peep-fileira19 {
  bottom: var(--jump19);
}

.peep-fileira20 {
  bottom: var(--jump20);
}

.peep-fileira21 {
  bottom: var(--jump21);
}

.peep-fileira22 {
  bottom: var(--jump22);
}

.peep-fileira23 {
  bottom: var(--jump23);
}

.peep-fileira24 {
  bottom: var(--jump24);
}

.peep-fileira25 {
  bottom: var(--jump25);
}

.peep-fileira26 {
  bottom: var(--jump26);
}

.peep-fileira27 {
  bottom: var(--jump27);
}

.peep-fileira28 {
  bottom: var(--jump28);
}

.peep-fileira29 {
  bottom: var(--jump29);
}

.peep-fileira30 {
  bottom: var(--jump30);
}

.peep-fileira31 {
  bottom: var(--jump31);
}

.peep-fileira32 {
  bottom: var(--jump32);
}

.peep-fileira33 {
  bottom: var(--jump33);
}

.peep-fileira34 {
  bottom: var(--jump34);
}

.peep-fileira35 {
  bottom: var(--jump35);
}

.peep-fileira36 {
  bottom: var(--jump36);
}

.peep-fileira37 {
  bottom: var(--jump37);
}

.peep-fileira38 {
  bottom: var(--jump38);
}

.peep-fileira39 {
  bottom: var(--jump39);
}

.peep-fileira40 {
  bottom: var(--jump40);
}

.peep-fileira41 {
  bottom: var(--jump41);
}

.peep-fileira42 {
  bottom: var(--jump42);
}

.peep-fileira43 {
  bottom: var(--jump43);
}

.peep-fileira44 {
  bottom: var(--jump44);
}

.peep-fileira45 {
  bottom: var(--jump45);
}

.peep-fileira46 {
  bottom: var(--jump46);
}

.peep-fileira47 {
  bottom: var(--jump47);
}

.peep-fileira48 {
  bottom: var(--jump48);
}

.peep-fileira49 {
  bottom: var(--jump49);
}

.peep-fileira50 {
  bottom: var(--jump50);
}

.peep-fileira51 {
  bottom: var(--jump51);
}

.peep-fileira52 {
  bottom: var(--jump52);
}

.peep-fileira53 {
  bottom: var(--jump53);
}

.peep-fileira54 {
  bottom: var(--jump54);
}

.peep-fileira55 {
  bottom: var(--jump55);
}

.peep-fileira56 {
  bottom: var(--jump56);
}

.peep-fileira57 {
  bottom: var(--jump57);
}

.peep-fileira58 {
  bottom: var(--jump58);
}

.peep-fileira59 {
  bottom: var(--jump59);
}

.peep-fileira60 {
  bottom: var(--jump60);
}

.peep-fileira61 {
  bottom: var(--jump61);
}

.peep-fileira62 {
  bottom: var(--jump62);
}

.peep-fileira63 {
  bottom: var(--jump63);
}

.peep-fileira64 {
  bottom: var(--jump64);
}

.peep-fileira65 {
  bottom: var(--jump65);
}

.peep-fileira66 {
  bottom: var(--jump66);
}

.peep-fileira67 {
  bottom: var(--jump67);
}

.peep-fileira68 {
  bottom: var(--jump68);
}

.peep-fileira69 {
  bottom: var(--jump69);
}

.peep-fileira70 {
  bottom: var(--jump70);
}

.peep-fileira71 {
  bottom: var(--jump71);
}

.peep-fileira72 {
  bottom: var(--jump72);
}

.peep-fileira73 {
  bottom: var(--jump73);
}

.peep-fileira74 {
  bottom: var(--jump74);
}

.peep-fileira75 {
  bottom: var(--jump75);
}

.peep-fileira76 {
  bottom: var(--jump76);
}

.peep-fileira77 {
  bottom: var(--jump77);
}

.peep-fileira78 {
  bottom: var(--jump78);
}

.peep-fileira79 {
  bottom: var(--jump79);
}

.peep-fileira80 {
  bottom: var(--jump80);
}

.peep-fileira81 {
  bottom: var(--jump81);
}

.peep-fileira82 {
  bottom: var(--jump82);
}

.peep-fileira83 {
  bottom: var(--jump83);
}

.peep-fileira84 {
  bottom: var(--jump84);
}

.peep-fileira85 {
  bottom: var(--jump85);
}

.peep-fileira86 {
  bottom: var(--jump86);
}

.peep-fileira87 {
  bottom: var(--jump87);
}

.peep-fileira88 {
  bottom: var(--jump88);
}

.peep-fileira89 {
  bottom: var(--jump89);
}

.peep-fileira90 {
  bottom: var(--jump90);
}

.peep-fileira91 {
  bottom: var(--jump91);
}

.peep-fileira92 {
  bottom: var(--jump92);
}

.peep-fileira93 {
  bottom: var(--jump93);
}

.peep-fileira94 {
  bottom: var(--jump94);
}

.peep-fileira95 {
  bottom: var(--jump95);
}

.peep-fileira96 {
  bottom: var(--jump96);
}

.peep-fileira97 {
  bottom: var(--jump97);
}

.peep-fileira98 {
  bottom: var(--jump98);
}

.peep-fileira99 {
  bottom: var(--jump99);
}

.peep-fileira100 {
  bottom: var(--jump100);
}

.peep-fileira101 {
  bottom: var(--jump101);
}

.peep-fileira102 {
  bottom: var(--jump102);
}

.peep-fileira103 {
  bottom: var(--jump103);
}

.peep-fileira104 {
  bottom: var(--jump104);
}

.peep-fileira105 {
  bottom: var(--jump105);
}
