* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.peeps {
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 20);
  filter: grayscale(0.2);
}

.peep {
  width: 250px;
  height: 270px;
  position: absolute;
  transition: var(--animvel) ease-out;
}