$horizontal: 15;
$vertical: 7;
$total: $vertical * $horizontal;

:root {
    --animvel: 0.7s;
    
    @for $y from 0 to $vertical {
        @for $x from 0 to $horizontal {
            $i: $y * $horizontal + $x;
            --jump#{$i + 1}: #{($y * 50) - 50}px;
        }
    }
}

@for $i from 0 to $total {
    .peep-fileira#{$i + 1} { 
        bottom: var(--jump#{$i + 1});    
    }
}
